#dateform{
    border: solid 3px rgb(0, 238, 255) ;
    padding: 0px 0px 0px 5px;
    width: 120px;
    margin-right: 0px;
    
}
#nav hover{
    border-color: lawngreen;
}
#datexp{
    border: solid 3px rgb(0, 238, 255) ;
    
}
#lang{
    border: solid 3px rgb(0, 238, 255) ;
}

#int{
    border: solid 3px rgb(0, 238, 255) ;
}